<a href="https://colab.research.google.com/github/eishaaryan/AIML_Assignments/blob/main/Day_2_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a1 = "We are learning Python Programming by Edulakes Solutions in association with NSS IIT Roorkee"
print(a1)

We are learning Python Programming by Edulakes Solutions in association with NSS IIT Roorkee

In [ ]:
a1[3]

'a'

In [ ]:
a1[3:10]

'are lea'

In [ ]:
print(a1)
print(a1.capitalize())
print(a1.lower())
print(a1.upper())
print(a1.title())
print(a1.swapcase())

We are learning Python Programming by Edulakes Solutions in association with NSS IIT Roorkee
We are learning python programming by edulakes solutions in association with nss iit roorkee
we are learning python programming by edulakes solutions in association with nss iit roorkee
WE ARE LEARNING PYTHON PROGRAMMING BY EDULAKES SOLUTIONS IN ASSOCIATION WITH NSS IIT ROORKEE
We Are Learning Python Programming By Edulakes Solutions In Association With Nss Iit Roorkee
wE ARE LEARNING pYTHON pROGRAMMING BY eDULAKES sOLUTIONS IN ASSOCIATION WITH nss iit rOORKEE

In [ ]:
a1.count("a")

6

In [ ]:
a1.count("Python")

1

In [ ]:
a1.index("Python")

16

In [ ]:
a1.index("ML")

ValueError: ignored

In [ ]:
a1.find("ML")

-1

In [ ]:
a1.find("Python")

16

In [ ]:
#### Input Function and Format function

In [ ]:
first_name = input("Enter First Name:")
last_name = input("Enter Last Name:")
age = input("Enter Age")
print("The name of the user is "+first_name+" "+last_name+" and his/her age is "+age)

Enter First Name:Umang
Enter Last Name:Kejriwal
Enter Age30
The name of the user is Umang Kejriwal and his/her age is 30

In [ ]:
a1 = int(input("Enter 1st number"))
a2 = int(input("Enter 2nd number"))
sum = a1 + a2
print("The sum is",sum)

In [ ]:
a1 = int(input("Enter 1st number"))
a2 = int(input("Enter 2nd number"))
sum = a1 + a2
print("The sum is "+str(sum))

Enter 1st number30
Enter 2nd number20
The sum is50

In [ ]:
a1 = int(input("Enter 1st number"))
a2 = int(input("Enter 2nd number"))
sum = a1 + a2
dif = a1 - a2
print("The sum is {} and dif is {}".format(sum,dif))

Enter 1st number100
Enter 2nd number30
The sum is 130 and dif is 70

In [ ]:
#### Conditional Statement

In [ ]:
a = int(input("Enter Number"))
if a>0:
  print("Positive Number")
elif a<0:
  print("Negative Number")
else:
  print("It's a zero")

Enter Number-3
Negative Number

In [ ]:
a = int(input("Enter Number"))
if a>0:
  print("Positive Number")
elif a<0:
  print("Negative Number")
elif a==0:
  print("It's a zero")

Enter Number0
It's a zero

In [ ]:
### Short Hand If Else
a = int(input("Enter Number"))
print("Positive Number") if a>0 else print("Negative Number") if a<0 else print("It's a zero")

Enter Number20
Positive Number

In [ ]:
#### Loops
## For Loop - we prefer for finite loop
## While Loop - for infinite loop we prefer

In [ ]:
## For loop

In [ ]:
for i in range(10):
  print("The value of i is {}".format(i))

The value of i is 0
The value of i is 1
The value of i is 2
The value of i is 3
The value of i is 4
The value of i is 5
The value of i is 6
The value of i is 7
The value of i is 8
The value of i is 9

In [ ]:
for i in range(15,30):
  print("The value of i is {}".format(i))

The value of i is 15
The value of i is 16
The value of i is 17
The value of i is 18
The value of i is 19
The value of i is 20
The value of i is 21
The value of i is 22
The value of i is 23
The value of i is 24
The value of i is 25
The value of i is 26
The value of i is 27
The value of i is 28
The value of i is 29

In [ ]:
for i in range(15,30,2):
  print("The value of i is {}".format(i))

The value of i is 15
The value of i is 17
The value of i is 19
The value of i is 21
The value of i is 23
The value of i is 25
The value of i is 27
The value of i is 29

In [ ]:
for i in range(30):
  print(15)

In [ ]:
for i in range(30,15,-2):
  print("The value of i is {}".format(i))

The value of i is 30
The value of i is 28
The value of i is 26
The value of i is 24
The value of i is 22
The value of i is 20
The value of i is 18
The value of i is 16

In [ ]:
fruits = ["Apple","Mango","Banana","Guava","Pineapple"]
for i in range(len(fruits)):
  print(fruits[i])

Apple
Mango
Banana
Guava
Pineapple

In [ ]:
### for each loop
fruits = ["Apple","Mango","Banana","Guava","Pineapple"]
for i in fruits:
  print(i)

Apple
Mango
Banana
Guava
Pineapple

In [ ]:
### for each loop
fruits = ["Apple","Mango","Banana","Guava","Pineapple"]
for i in fruits:
  print(i,end=" ")

Apple Mango Banana Guava Pineapple

In [ ]:
### While Loop
i = 0
while i<10:
  print("The value of i is {}".format(i))
  i = i + 1

The value of i is 0
The value of i is 1
The value of i is 2
The value of i is 3
The value of i is 4
The value of i is 5
The value of i is 6
The value of i is 7
The value of i is 8
The value of i is 9

In [ ]:
while True:
  print("Infinite Loop")

### Functions
1. Function without argument
2. Function with argument
3. Function with default argument
4. Function with return statement

In [ ]:
## Function without argument
def myFunction():
  print("This is my function")

In [ ]:
myFunction()
myFunction()
myFunction()
myFunction()

This is my function
This is my function
This is my function
This is my function

In [ ]:
## Function with argument
def addition(a,b):
  sum = a+b
  print("The sum is {}".format(sum))

In [ ]:
addition(10,20)

The sum is 30

In [ ]:
addition(10.5,20.3)

The sum is 30.8

In [ ]:
addition(2.3,3.3)

The sum is 5.6

In [ ]:
print()

In [ ]:
## Function with default argument
def addition_default(a,b=10):
  sum = a+b
  print("The sum is {}".format(sum))

In [ ]:
addition_default(10,20)

The sum is 30

In [ ]:
addition_default(10)

The sum is 20

In [ ]:
addition_default("a","b")

The sum is ab

In [ ]:
## Function with return statement

In [ ]:
result = addition_default(10,20)

The sum is 30

In [ ]:
print(result)

None

In [ ]:
## Function with return statement
def addition_return(a,b=10):
  sum = a+b
  return("The sum is {}".format(sum))

In [ ]:
result = addition_return(10)

In [ ]:
print(result)

The sum is 20

In [ ]:
def calculation(a,b=10):
  sum = a+b
  dif = a-b
  mul = a*b
  div = a/b
  return sum,dif,mul,div

In [ ]:
result = calculation(20)
print(result)

(30, 10, 200, 2.0)